html {
    font-size: 100%;

body{
    margin: 3%;
    padding: 0;
    background-color: #fdf6e3;
    color: #333;
    font-size: 1rem;
}
h1{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    text-align: center;
    background-color: #ffcd8a;
}
.subtitle{
    margin-top: 0;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    color:  rgb(151 156 165 / 0.89);
    text-transform: uppercase;
    font-style: italic;
    width: fit-content;
    padding: 0 1%;
    background-color: #ffdaa8;
}

.photo{
    width: 8vw;
    height:auto;
}

footer p{
    text-align: left;
    font-style: italic;
}

nav > ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0;
    flex-wrap: wrap;
}
nav > ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    font-size: 1rem;
    transition: color .3s, background-color .3s;
}

nav > ul li a:hover{
    color: #fff;
    background-color: #ff9729;
    cursor: pointer;
    border: 1px solid #a65600;
    
}

@media (max-width: 600px) {
    body{
        margin: 1%;
        font-size: 0.9rem;
    }
    .photo{
        width: 20vw;
    }
    nav > ul{
        flex-direction: column;
        align-items: center;
    }
    nav > ul li a {
        margin: 0.5rem 0;
        font-size: 1rem;
    }
    form {
        font-size: 1rem;
    }
}

section{
    border:0.2pt solid #cedddd;
    margin-top: 4px 2px 8px 2px;
    padding: 1.5% 0.8%;
    margin-bottom: 1.2rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
    -moz-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
    box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
    background-color: #fffcf6;
}

form div{
    margin: 0.5rem 0;
}
form{
    margin: 1.5% 0.8%;
    padding: 1.5% 1.5%;
    font-size: 1.125rem;
    background-color: #ebd7c3;
    max-width: fit-content;
}
.button {
   text-align: center;
}
.button button{
    border: 1px solid #a65600;
    max-width: fit-content;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    color: #a65600;
    font-size: 1.125rem;
    background-color: transparent;
    border-radius: 25px;
    padding: 0.5rem 0.5rem;
    transition: color .3s, background-color .3s;
}

.button button:hover{
    color: #fff;
    background-color: #ff9729;
    cursor: pointer;
}

form input, select, textarea{
    border: 1px solid #a65600;
    color: #a65600;
    font-weight: 400;
}

form input:focus, select:focus, textarea:focus{
    border: 3px solid #ff9729;
    outline: none;
}

form input[type="radio"]:checked, input[type="checkbox"]:checked{
    accent-color: #ff9729;
}

#contacto a{
    margin: 0.5rem;
}
